* {
    margin: 0;
    padding: 0;
    }
    
    .header {
       height: 100px;
       background-color: rgb(138, 192, 137);
       display: flex;
     }
    
     .logo {
       height: 40px;
       background-color: rgb(216, 156, 27);
       width: 135px;
       margin-top: 30px;
       margin-left: 30px;
     }
    
     .item {
     width: 300px;
     height: 400px;
     border: 1px solid black;
     margin-bottom: 50px;
     border-radius: 10px;
     }
    
     .container {
     width: 1200px;
     margin: 0 auto;
     }
    
     .flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between
     }
    
     .content {
     margin-top: 100px;
     margin-bottom: 100px;
     }
    
     .footer {
       height: 200px;
       background-color: #ccc;
       display: flex;
     }
    
     .names {
        color: rgb(209, 157, 14);
        line-height: 40px;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 100px;

     }

     
     .itempic {
     width: 100%;
     height: 100%;
     }
    
     .first {
     background-image: url(img/dog_korg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     margin: auto;
        }
     
     .last {
     background-image: url(img/cats.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     margin: auto;
     }
    
     .button {
     width: 100px;
     height: 40px;
     background-color: rgb(238, 178, 99);
     color: #fff;
     text-align: center;
     line-height: 40px;
     
     }
    
     
    
     